@charset "UTF-8";
div.bloco{
    height: 20vh;
    border: 1px solid black;
    margin: 1vh;
    border-radius: 1vh;
    background-image: url(imagens/wallpaper003.jpg);
}
div#q1{
    background-position: left top;
}
div#q2{
    background-position: left center;
}
div#q3{
    background-position: right bottom;
}
div#q4{
    background-position: center center;
}